/* Establecer la animación */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-card {
  animation: slideInFromLeft 2s ease-out;
}

/* Estilos comunes para todas las tarjetas */
.redes {
  flex: 0 0 calc(20% - 20px); /* 20% es el ancho de cada tarjeta y 20px es el margen total en x (solo a la derecha) */
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px; /* Solo margen a la derecha */
  border-radius: 10px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  text-align: center;
  height: 6cm;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Estilos para el contenido de las tarjetas */
.redes img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-bottom: 20px;
}

.redes p {
  color: gray;
}
